SECRET_KEY=django-insecure-PROMIJENI-OVO-OBAVEZNO
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=sqlite:///db.sqlite3

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

INFOBIP_API_KEY=
INFOBIP_BASE_URL=xxxxx.api.infobip.com
VIBER_SENDER_NAME=RezervišiBiH

WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@rezervisi.ba
